@import "../global-vars.module.scss";

.card {
    height: 105px;
    width: 260px;
    display: flex;
    .dataContainer {
        margin: 0 0 0 11px;
    }

    .nameAndTitleContainer {
        width: 200px;
        height: 38px;
        & a:active,
        & a {
            text-decoration: none;
        }
        .name {
            font-size: 16px;
            font-weight: 500;
            height: 19px;
            color: $deepTurquoise;
        }
        .jobTitle {
            font-size: 12px;
            height: 14px;
            color: $gunMetalTwo;
        }
    }
    .otherDetailsContainer {
        font-size: 12px;
        width: 200px;
        height: 52px;
        margin: 15px 0 0 0;
        .phoneNumber {
            height: 14px;
            font-size: 12px;
            color: $black;
            & label {
                font-weight: 500;
            }
        }
        .assistant {
            height: 14px;
            font-size: 12px;
            color: $black;
            & label {
                font-weight: 500;
            }
            & a {
                text-decoration: none;
                color: $deepTurquoise;
            }
        }
        .office {
            height: 14px;
            font-size: 12px;
            color: $black;
            & label {
                font-weight: 500;
            }
            & a {
                text-decoration: none;
                color: $deepTurquoise;
            }
        }
    }
}
