@import "../global-vars.module.scss";

.container {
    height: 100%;
    width: 100%;
    background-color: $lightGray;
    font-family: "Roboto";
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    padding: 40px 0 0 0;
}
.categoryContainer {
    color: $black;
    width: 283px;
    margin: 0 0 0 30px;
}
.categoryHeading {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.categoryItem {
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    display: flex;
    margin: 15px 0 15px 0;
    & a {
        text-decoration: none;
        color: $black;
    }
}
.itemIcon {
    color: $gunMetalTwo;
}
