@import "../global-vars.module.scss";

.container {
    height: 41px;
    background-color: $lightGray;
    position: absolute;
    width: 100%;
    .content {
        height: 100%;
        margin: 0 0 0 40px;
        display: flex;
    }
    .title {
        color: $black;
        width: 134px;
        font-size: 18px;
        font-weight: 500;
        margin: 40px 0 0 0;
    }

    .dropdownContainer {
        height: 30px;
        margin: 33px 0 0 5px;
        & label {
            margin: 0 0 0 21px;
            color: $black;
            font-size: 12px;
            font-weight: 500;
            margin: 41px 0 0 44px;
            height: 14px;
            width: 79px;
        }
        & select {
            height: 30px;
            width: 150px;
            margin: 0 0 0 5px;
        }
    }
}
