@import "../global-vars.module.scss";

.container {
    width: 163px;
    font-family: "Roboto";
    font-size: 12px;
    height: 50px;
    color: $white;
    line-height: 1.5;
    background-color: $black;
    display: flex;
    margin: 2px 15px 2px 0;
    align-items: center;
}
.innerContainer {
    height: 18px;
    width: 163px;
    & button {
        color: $white;
    }
    & i {
        color: $white;
    }
}
