@import "../global-vars.module.scss";

.container {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $tomatoRed;
    & p {
        color: $white;
        font-size: 20px;
    }
}
.innerContainer {
    padding: 0 0 0 64px;
}
.closeIconContainer {
    height: 100%;
    margin: 15px 15px 0 0;
}
.closeIcon {
    color: $white;
    cursor: pointer;
}
