$gunmetal: #565a5c;
$gunMetalTwo: #53565a;
$white: #fff;
$squash: #f0b323;
$black: #2c2a29;
$lightGray: #f1f1f1;
$deepTurquoise: #007377;
$navSectionDividerColor: #cecfcb;

$searchBoxBorderColor: #dedede;
