@import "./global-vars.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.headerContainer {
    width: 100%;
    font-family: "Roboto";
    font-size: 15px;
    color: $gunmetal;
    background-color: $black;
    display: flex;
}
