// @font-face {
//   font-family: 'RobotoRegular';
//   src: url('./fonts//Roboto-Regular.ttf') format('truetype');
// } 

// .guidedSearchContainer{
//   width: 100%;
//   font-family: 'RobotoRegular';
//   font-size: 15px;
// }
@import './global-vars.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.headerContainer{
  width: 100%;
  font-family: 'Roboto';
  font-size: 15px;
  color: $gunmetal;
}