@import "./global-vars.module.scss";

.headerContainer {
    width: 100%;
    font-family: "Roboto";
    font-size: 15px;
    color: $gunmetal;
    background-color: $black;
    display: flex;
}
